<div class="container">
  <div class="row">

    <div class="col-3">
      <h5 class="text-warning ml-3">Sorts</h5>
      <select (change)="onSortSelected($event.target.value)" class="custom-select mb-3">
        <option *ngFor="let sort of sortOptions" [value]="sort.value">{{sort.name}}</option>
      </select>

      <h5 class="text-warning ml-3">Brands</h5>
      <nav class="overflow-auto h-max ">
        <ul class="list-group my-3">
          <li class="list-group-item mr-2" *ngFor="let productBrand of productBrands"
            [class.active]="productBrand.id === this.shopParams.productBrandId" [value]="productBrand.id"
            (click)="onProductBrandSelect(productBrand.id)">{{productBrand.name}}</li>

        </ul>

      </nav>

      <h5 class="text-warning ml-3 mt-3">Types</h5>
      <nav class="overflow-auto h-max ">
        <ul class="list-group my-3">
          <li class="list-group-item  mr-2" *ngFor="let productType of productTypes"
            [class.active]="productType.id === this.shopParams.productTypeId"
            (click)="onProductTypeSelect(productType.id)">{{productType.name}}</li>

        </ul>
      </nav>

    </div>
    <section class="col-9">
      <div class="d-flex justify-content-between aling-center-pb-2">
        <header>

          <span *ngIf="totalCount && totalCount > 0">Showing <strong>{{(this.shopParams.pageNumber-1) * this.shopParams.pageSize+1}} -
            {{this.shopParams.pageNumber*this.shopParams.pageSize
            > this.totalCount ? this.totalCount : this.shopParams.pageNumber* this.shopParams.pageSize
            }}</strong> of <strong>{{this.totalCount}}</strong> Results</span>
          <span *ngIf="totalCount == 0">
            There are <strong>0</strong> results for this filter
          </span>

        </header>
        <div class="form-inline mt-2">
          <input type="text" class="form-control mr-2" style="width:300px" placeholder="Search">
          <button (click)="onSearchFilter()" class="btn btn-outline-primary my-2">Search</button>
          <button (click)="onClearFilter()" class="btn btn-outline-primary ml-2 my-2">Reset</button>
        </div>
      </div>

      <div class="row">
        <div class="col-4 mb-4" *ngFor="let item of products">
          <app-product-item [product]="item"></app-product-item>
        </div>
      </div>
      <div class="d-flex justify-content-center">
        <pagination
        [boundaryLinks]="true"
        [maxSize]="this.shopParams.pageSize"
        [totalItems]="this.totalCount"
        (pageChanged)="onPageChanged($event)"
        [itemsPerPage]="this.shopParams.pageSize"
        previousText="&lsaquo;"
        nextText="&rsaquo;"
        firstText="&laquo;"
        lastText="&raquo;">
      </pagination>
      </div>

    </section>
  </div>
</div>
